/* src/index.css */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f4f6f8;
}

.list-container {
    padding: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
}

th,
td {
    padding: 0 5px;
    border-bottom: 1px solid rgb(221, 221, 221);
    text-align: left;
    height: 36px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th {
    font-weight: bold;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    position: sticky; top: 0px; background: rgb(255, 255, 255); z-index: 112; height: 37px; padding-right: 16px;
}

tr:hover {
    background-color: #f9f9f9;
}

header {
  width: 100%;
  min-height: 60px;
  padding: 0 15px;
  box-shadow: 0 0 6px #333;
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
}

.line {
  width: 5px;
  height: 42px;
  background-color: #6d6a69;
  margin-right: 10px; 
}

h1 {
  margin: 0;
  font-size: 24px;
}

.btn-add {
  background-color: #2ecc71; /* Green background */
  color: #ffffff; /* White text */
  border: none;
  width: 5rem;
  padding: 8px 16px; /* Vertical and horizontal padding */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  margin: 1.5rem 4rem 0 2rem; /* Top: 1.5rem, Right: 2rem, Bottom: 0, Left: 0 */
}

@media (max-width: 768px) {
  .btn-add {
    margin: 1rem 1.5rem 0 0; /* Reduced margin for smaller screens */
    padding: 6px 12px; /* Slightly reduced padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .btn-add {
    margin: 0.5rem 1rem 0 0; /* Further reduced margin for very small screens */
    padding: 4px 10px; /* Adjusted padding for very small screens */
  }
}

.btn-add:hover {
  background-color: #27ae60; /* Darker green on hover */
}

